@import "./variables";

a {
  text-decoration: none;
}

.page {
  padding: 40px 0;
}

.app-error {
  font-size: 12px;
  color: $danger;
}

// animations

.slide-enter-active,
.slide-leave-active {
  transition: 0.3s;
}
.slide-enter,
.slide-leave-to {
  opacity: 0;
}

.fade-down-enter-active,
.fade-down-leave-active {
  transition: 1s ease;
}
.fade-down-enter,
.fade-down-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

// animations END
