@import "./variables";

a {
  text-decoration: none;
}

.v-application ol,
.v-application ul {
  padding-left: 0;
}

.app-error {
  font-size: 12px;
  color: #f44336;
}

.app-headline {
  color: $secondary;
  font-size: 25px;
  user-select: none;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 200px;
}

.v-content__wrap {
  background-color: #50514f;
}

.v-toolbar__content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.app-container {
  padding: 10px !important;
  @media #{$tablet} {
    padding: 40px 0 !important;
  }
}

.card-list-name {
  color: $secondary !important;
}

.header-title {
  user-select: none;
  color: $secondary;
  font-size: 22px;
  font-weight: 600;
  text-shadow: 2px -2px 0px #000;
}

// animations

.slide-enter-active,
.slide-leave-active {
  transition: 0.3s;
}
.slide-enter,
.slide-leave-to {
  opacity: 0;
}

.fade-down-enter-active,
.fade-down-leave-active {
  transition: 1s ease;
}
.fade-down-enter,
.fade-down-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

// animations END

// firebase UI

.firebaseui-card-content {
  padding: 0;
}

.firebaseui-idp-button,
.firebaseui-tenant-button {
  max-width: 250px;
}

.firebaseui-idp-text.firebaseui-idp-text-long {
  display: none;
}

.firebaseui-idp-text.firebaseui-idp-text-short {
  display: table-cell;
}

// firebase UI END
